@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
    --font-monserrat: "Montserrat", sans-serif;
    --blueOne: #009fdc;
    --blueTwo: #0d2643;
    --blueThree: hsl(185, 58%, 52%);
    --blueFour: #174985;
    --white: #ffffff;
    --text-color: #4A4A4A;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__main,
.section__description,
.section__solution,
.section__data,
.section_formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-monserrat);
}

.section__main {
    background: #f8f8f8 url("../images/main-image.png");
    background-repeat: no-repeat;
    height: 1004px;
    box-shadow: 0 11px 18px 0 rgba(0, 0, 0, 0.34);
}

.section__main .logo {
    display: flex;
    width: 20%;
    justify-content: center;
    padding: 43px 0;
}

.section__main .logo img {
    height: 101.55px;
    width: 93.8px;
}

.section__main .title {
    color: var(--white);
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 20%;
}

.section__main .title .title_box {
    position: relative;
}

.section__main .title .title_box h1 {
    font-size: 52px;
    letter-spacing: 0;
    line-height: 58px;
    text-align: start;
    vertical-align: text-top;
    margin-block-end: 0;
    text-transform: uppercase;
}

.section__main .title .title_box h1 span {
    font-size: 144px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 120px;
    text-align: center;
    vertical-align: text-top;
    margin-right: -28px;
}

.section__main .title .title_box button {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    color: var(--blueOne);
    background-color: var(--white);
    border: var(--white);
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 10px 60px;
    position: absolute;
    top: 24%;
    right: 0;
}


.section__description .details {
    width: 41%;
    padding: 100px 8%;
}

.section__description .details h2,
.section__solution .details h2 {
    color: var(--text-color);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 48px;
}

.section__description .details h2 span {
    color: var(--text-color);
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
}

.section__description .details p {
    color: var(--text-color);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 21px;
}

.section__description .details button {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    color: var(--white);
    background-color: var(--blueThree);
    border: var(--blueThree);
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px 60px;
    margin-top: 10%;
    text-transform: uppercase;
}

.section__solution .figure_one {
    position: relative;
}

.section__solution .figure_one img {
    position: absolute;
    right: 0;
    height: 94px;
    /* width: 55%; */
    width: calc(100% - 290px);
}

.section__solution .details {
    width: 40%;
    padding: 100px 0 100px 8%;
}

.section__solution .details h2 span {
    color: var(--text-color);
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
}

.section__solution .details .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3%;
    padding-right: 5px;
}

.section__solution .details .icons .solution_one .title_solution {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.section__solution .details .icons .solution_one img {
    width: 100px;
}

.section__solution .details .icons .solution_one {
    text-align: center;
    padding: 0 10% 20%;
}

.section__solution .details .icons .solution_one:nth-child(3) {
    border-top: 1px solid #DBDBDB;
    padding-top: 20%;
}

.section__solution .details .icons .solution_one:nth-child(4) {
    border-top: 1px solid #DBDBDB;
    padding-top: 20%;

}

.section__solution .details .icons .solution_one:nth-child(1) .title_solution {
    color: var(--blueThree);
}

.section__solution .details .icons .solution_one:nth-child(2) .title_solution {
    color: var(--blueOne);
}

.section__solution .details .icons .solution_one:nth-child(3) .title_solution {
    color: var(--blueFour);
}

.section__solution .details .icons .solution_one:nth-child(4) .title_solution {
    color: var(--blueTwo);
}

.section__solution .details .icons .solution_one p {
    color: var(--text-color);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
}

.section__description {
    background: #f8f8f8;
    height: 624px;
    column-count: 2;
    box-shadow: 8px 13px 13px 0px rgb(0 0 0 / 34%);
}

.section__description img,
.section__solution .img-solution,
.section__data img {
    width: 50%;
}

.section__data {
    background: var(--white) url("../images/backgroung-data.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    padding-bottom: 5%;
}

.section__data .details {
    width: 40%;
    padding: 100px 5px 100px 8%;
}

.section__data .details h2 {
    color: var(--text-color);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 48px;
}

.section__data .details h2 span {
    color: var(--text-color);
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
}

.section__data .details p {
    color: var(--text-color);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 21px;
    width: 67%;
}

.section__data .details button {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    color: var(--white);
    background-color: var(--blueOne);
    border: var(--blueOne);
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 10px 60px;
    margin-top: 10%;
    text-transform: uppercase;
}

.section__data img {
    height: 770px;
}

.section_formulario {
    background-color: #EFEFEF;
    border: none;
    flex-wrap: wrap;
}

.section_formulario .form {
    background: linear-gradient(312.51deg,
            #3dc0cb 0%,
            #0aa4d9 22.04%,
            #0f4b90 82.79%,
            #122336 100%);
    border-radius: 0 60px 60px 0;
    text-align: center;
    color: var(--white);
    padding: 2% 0 5%;
    box-sizing: border-box;
    width: 55%;
}

.section_formulario .form h2 {
    color: var(--white);
    font-size: 48px;
    letter-spacing: 0;
    line-height: 56px;
    margin-block-end: 10px;
}

.section_formulario .form h2 span {
    font-size: 83px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 50px;
}

.section_formulario .form p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    width: 63%;
    margin: auto;
}

.section_formulario .form form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 16px;
    padding-top: 20px;
}

.section_formulario .form input {
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    color: var(--white);
    background-color: transparent;
    padding: 11px 30px;
}

.section_formulario .form input:focus-visible {
    outline: none;
}

.section_formulario .form input::placeholder {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    color: var(--white);
}

.section_formulario .form button {
    border-radius: 17px;
    background-color: var(--white);
    border: none;
    color: var(--blueOne);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    padding: 10px 60px;
}

.section_formulario .imagen-laptop {
    position: relative;
}

.section_formulario .imagen-laptop img {
    position: absolute;
    height: 95%;
    width: 60vw;
    right: 0;
    bottom: -20%;
}

.rectangule-blue {
    background-color: #0E2643;
    height: 150px;
    width: 100%;
}

footer {
    text-align: center;
    background-color: #071626;
    color: var(--white);
    font-family: var(--font-monserrat);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 25px;
    padding: 20px 0;
}

footer p {
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 1441px) {
    .section__main {
        background-size: cover;
    }

    .section__main .title .title_box button {
        top: 30%;
    }
}

@media screen and (max-width: 1342px) {
    .section__main .logo {
        width: 30%;
    }

    .section__main .title {
        width: 66%;
    }

    .section__main .title .title_box h1 {
        font-size: 32px;
        letter-spacing: 0;
        line-height: 38px;
    }

    .section__main .title .title_box h1 span {
        font-size: 124px;
        line-height: 120px;
    }

    .section__main .title .title_box button {
        font-size: 15px;
        width: 68%;
        top: 14%;
        right: 0;
    }

    .section__description .details {
        padding-right: 25px;
    }

    .section_formulario .form h2,
    .section__data .details h2,
    .section__description .details h2,
    .section__solution .details h2 {
        font-size: 20px;
        line-height: 38px;

    }

    .section_formulario .form h2 span,
    .section__data .details h2 span,
    .section__solution .details h2 span,
    .section__description .details h2 span {
        font-size: 38px;
        line-height: 22px;
    }

    .section_formulario .form p .section__data .details p,
    .section__solution .details .icons .solution_one p,
    .section__description .details p {
        font-size: 12px;
        line-height: 18px;
    }

    .section__description .details button,
    .section__data .details button {
        font-size: 12px;
        line-height: 16px;
        width: 85%;
    }
}

@media screen and (max-width: 767px) {

    .section__main,
    .section__description,
    .section__solution,
    .section__data,
    .section_formulario {
        flex-direction: column;
    }

    .section__main {
        background-size: cover;
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .section__main .logo {
        margin: 25px;
        width: 22%;
    }

    .section__main .title {
        width: 100%;
        padding: 5% 0;
    }

    .section__main .title .title_box h1 {
        font-size: 22px;
        line-height: 38px;
        color: var(--blueOne);
    }

    .section__main .title .title_box h1 span {
        font-size: 64px;
        line-height: 40px;
        margin-right: -8px;
    }

    .section__main .title .title_box button {
        width: 100%;
        padding: 10px 60px;
        position: absolute;
        top: 108%;
        right: 0;
        background-color: var(--blueFour);
        color: var(--white);
    }

    .section__description {
        background: transparent;
        height: auto;
        box-shadow: none;
    }

    .section__description .details {
        width: auto;
        padding: 3% 15px 15%;
    }

    .section__description img {
        width: 100%;
        padding-top: 10%;
    }

    .section__description .details button {
        width: 100%;
    }

    .section__solution .img-solution {
        width: 100%;
    }

    .section__solution .details {
        width: auto;
        padding: 0 15px;
    }

    .section__solution .details .icons {
        padding: 0;
    }

    .section__data img {
        height: 770px;
        width: 100%;
    }

    .section__data .details {
        width: auto;
        padding: 0 15px 15%;
        order: 2;
    }

    .section__data .details p {
        width: 100%;
    }

    .section_formulario .form {
        padding: 0 15px;
        width: 100%;
        border-radius: 0;
    }

    .section_formulario .form p {
        width: 100%;
        margin: auto;
    }

    .section_formulario .form form {
        width: 100%;
        gap: 16px;
        padding-top: 20px;
        padding-bottom: 12%;
    }

    .rectangule-blue {
        height: 40px;
    }
}

.thank{
    background: linear-gradient(312.51deg,
            #3dc0cb 0%,
            #0aa4d9 22.04%,
            #0f4b90 82.79%,
            #122336 100%);
    color: var(--white);
    font-size: 35px;
    height: 100vh;
    font-size: var(--font-monserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}